@use './base.scss' as *;
// ///////////////////////////////////////////////
// scroll   滚动动画                             //
// ///////////////////////////////////////////////

/**
 * scroll-y-transition
 * 垂直方向上淡入淡出和移动的动画效果
 */
.scroll-y-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateY(-15px);
    }

    &-leave-to {
        transform: translateY(15px);
    }
}

/**
 * scroll-y-reverse-transition
 * 垂直（反向）方向上淡入淡出和移动的动画效果
 */
.scroll-y-reverse-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateY(15px);
    }

    &-leave-to {
        transform: translateY(-15px);
    }
}

/**
 * scroll-x-transition
 * 水平方向上淡入淡出和移动的动画效果
 */
.scroll-x-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateX(-15px);
    }

    &-leave-to {
        transform: translateX(15px);
    }
}

/**
 * scroll-x-reverse-transition
 * 水平（反向）方向上淡入淡出和移动的动画效果
 */
.scroll-x-reverse-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-enter-from {
        transform: translateX(15px);
    }

    &-leave-to {
        transform: translateX(-15px);
    }
}
