@use './base.scss' as *;
// ///////////////////////////////////////////////
// slide  滑动动画                               //
// ///////////////////////////////////////////////

/**
 * slide-y-transition
 * 垂直方向从上到下的滑动效果
 */
.slide-y-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(-15px);
    }
}

/**
 * slide-y-reverse-transition
 * 垂直滑动（反向）的过渡动画效果
 */
.slide-y-reverse-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(15px);
    }
}

/**
 * slide-x-transition
 * 水平滑动的过渡动画
 */
.slide-x-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(-15px);
    }
}

/**
 * slide-x-reverse-transition
 * 水平滑动（反向）的过渡动画
 */
.slide-x-reverse-transition {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(15px);
    }
}
