<script setup lang='ts'>
    defineOptions({ name: '{{properCase cpsName}}' })
</script>

<template>
    <div class='h-screen overflow-y-scroll'>
        <custom-nav-bar></custom-nav-bar>
    </div>
</template>

<style lang='scss' scoped></style>