@font-face {
    font-family: 'AlibabaSans-Medium';
    src: url('Alibaba-PuHuiTi-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaSans-Regular';
    src: url('Alibaba-PuHuiTi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: '阿里妈妈东方大楷 Regular';
    font-weight: 400;
    src:
        url('//at.alicdn.com/wf/webfont/DgvVlYZWUnrT/kQ05CMaJc5hN.woff2') format('woff2'),
        url('//at.alicdn.com/wf/webfont/DgvVlYZWUnrT/iCc1kOG8S3ug.woff') format('woff');
    font-display: swap;
}

// 使用方式
// .custom-font {
//   font-family: 'AlibabaSans-Medium', sans-serif;
// }
